/ebooks-laravel/node_modules
/public_html/public/hot
/public_html/public/storage
/ebooks-laravel/storage/*.key
/ebooks-laravel/storage
/ebooks-laravel/vendor
/ebooks-laravel/.env
/ebooks-laravel/.env.backup
/ebooks-laravel/.phpunit.result.cache
/ebooks-laravel/docker-compose.override.yml
/ebooks-laravel/Homestead.json
/ebooks-laravel/Homestead.yaml
/ebooks-laravel/npm-debug.log
/ebooks-laravel/yarn-error.log
